# Question 1
Consider the following Python module:

a = 0

def b():
    global a
    a = c(a)

def c(a):
    return a + 2

After importing the module into the interpreter, you execute:

->b( )

->b( )

->b( )

->a

?

What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement.

In [1]:
a = 0

def b():
    global a
    a = c(a)

def c(a):
    return a + 2

In [2]:
b() #In first execution value of a=0, therefore c(a) returns 0+2=2 and after executing function b() value of a is 2
b() #In second execution value of a=2, therefore c(a) returns 2+2=2 and after executing function b() value of a is 4
b() #In third execution value of a=4, therefore c(a) returns 4+2=2 and after executing function b() value of a is 6
a   #after executing b() three times, 'a' holds value 6

6

# Question 2
Function fileLength(), given to you, takes the name of a file as input and returns the length of the file:

--- fileLength('midterm.py')

284

--- fileLength('idterm.py')
Traceback (most recent call last):
  File "<pyshell#34>", line 1, in <module>
    fileLength('idterm.py')
  File "/Users/me/midterm.py", line 3, in fileLength
    infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory: 'idterm.py'

As shown above, if the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead:

--- fileLength('midterm.py')
    
358
    
--- fileLength('idterm.py')
File idterm.py not found.

In [3]:
def file_length(file_name):
    try:    
        file = open(file_name)
        contents = file.read()
        file.close()    
        print(len(contents))
    except:
        print('File ' + file_name +' not found.')

In [4]:
file_length('midterm.py')

82

In [5]:
file_length('idterm.py')

File idterm.py not found.

# Question 3
Write a class named Marsupial that can be used as shown below:

--- m = Marsupial()
--- m.put_in_pouch('doll')
--- m.put_in_pouch('firetruck')
--- m.put_in_pouch('kitten')
--- m.pouch_contents()
['doll', 'firetruck', 'kitten']

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also:
a.	extends the Marsupial __init__ constructor to take, as input, the coordinates x and y of the Kangaroo object,
b.	supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the y-axis, and
c.	overloads the __str__ operator so it behaves as shown below.

--- k = Kangaroo(0,0)
--- print(k)
I am a Kangaroo located at coordinates (0,0)
--- k.put_in_pouch('doll')
--- k.put_in_pouch('firetruck')
--- k.put_in_pouch('kitten')
--- k.pouch_contents()
['doll', 'firetruck', 'kitten']
--- k.jump(1,0)
--- k.jump(1,0)
--- k.jump(1,0)
--- print(k)
I am a Kangaroo located at coordinates (3,0)

In [6]:
class Marsupial:
    ' class that represents Marsupials'
    
    def __init__(self):
        self.pouch_items = []      #Empty List
    
    def put_in_pouch(self, item):
        self.pouch_items.append(item)    #append items to the list
    
    def pouch_contents(self):
        print (self.pouch_items)      #prints item list
    
# m = Marsupial()
# m.put_in_pouch('doll')
# m.put_in_pouch('firetruck')
# m.put_in_pouch('kitten')
# m.pouch_contents()
 
    
class Kangaroo(Marsupial):      # subclass of Marsupial
    'Subclass of Marspuial'
    
    def __init__(self, x,y):   #extended __init__ constructor to take x and y coordinates as input
        
        self.x = x
        self.y = x
        
        Marsupial.__init__(self)
        
    def jump(self, dx, dy):    # To move the Kangaroo by dx and dy units along x-axis and y-axis respectively
        self.x += dx
        self.y += dy
        
    def __str__(self):         # To overload __str__ operator
        
        return "I am a Kangaroo located at coordinates ("+str(self.x)+","+str(self.y)+")"
        
k = Kangaroo(0,0)

print(k)
      
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

# Question 4
Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:
 
x = {█(  x/2                    if x is even@3x+1               if x is odd)┤

Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops.

--- collatz(1)
1
--- collatz(10)
10
5
16
8
4
2
1

In [7]:
def collatz(x):
    
    if x<0:                                        # condition to check the input integer is poitive
        print('Plese Enter a positive Integer!')
    
    elif x==1:                                     # Base Case
        print(x)
       
    elif x>1:                                      # recursive step
        print(x)
        if x%2==0:
            x=x//2
        else:
            x=3*x+1
        collatz(x)

In [8]:
collatz(1)
collatz(10)

1
10
5
16
8
4
2
1

# Question 5
Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.

--- binary(0)
0
--- binary(1)
1
--- binary(3)
11
--- binary(9)
1001

In [9]:
def binary(x):

    if x<0:                                             #condition to check the input integer is non-negative
        print('Please enter a non-negative integer!')
  
    elif x==0:                                          #Base case
        return x
    
    else:                                               #recursive case
        return (x%2 + 10*binary(x//2))
    
    print(binary(x))

In [10]:
binary(0)

0

In [11]:
binary(1)

1

In [12]:
binary(3)

11

In [13]:
binary(9)

1001

# Question 6
Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.

--- infile = open('w3c.html')
--- content = infile.read()
--- infile.close()
--- hp = HeadingParser()
--- hp.feed(content)
W3C Mission
 Principles

In [14]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    
    def _init_(self):
        HTMLParser.__init__(self)
        self.heading = False
    heading = ['h1','h2','h3','h4','h5','h6']
        
    def handle_starttag(self, tag, attrs):
        
        if tag in {'h1','h2','h3','h4','h5','h6'}:   # 6 levels of HTML headings
            self.heading = True
            self.indsize = int(tag[1])-1             
            self.indent = ' '*self.indsize           # indentation as per tag number
        else:
            self.heading = False

    def handle_data(self, data):
        if self.heading == True:
            print ("{}{}".format(self.indent, data))
            self.heading = False
            
infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
 Principles

# Question 7
Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent,  should be used to indicate the depth of a URL.

--- webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
    http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
        http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
    http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
        http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [15]:
from html.parser import HTMLParser
from urllib.parse import urljoin
from urllib.request import urlopen

class Collector(HTMLParser):
    
    def __init__(self, url):                          #initializes the parser and the initial indentation      
        HTMLParser.__init__(self)
        self.url = url
        self.links = []
        
    def handle_starttag(self, tag, attrs):              #collects hyperlink URLs in their absolute format     
        if tag == 'a':                                        # search for href attribute and print its value

            for attr in attrs:
                if attr[0] == 'href':
                    
                    absolute = urljoin(self.url, attr[1])    # construct absolute URL
                    if absolute[:4] == 'http': 
                        self.links.append(absolute)
                        
    def getLinks(self):      
        return self.links


def analyze(url):
    
    content = urlopen(url).read().decode()
    collector = Collector(url)
    collector.feed(content)
    urls = collector.getLinks()          

    return urls      
    
visited = set()                                     # initialize visited to an empty set
deep = None
indentation = None
def webdir(url,depth,indent):
   
    global visited                                  # warns the programmer 
    visited.add(url)

    if depth == None:
        return
    
    print(' '*indent, url)
    indent +=1
    depth -=1
       
    links = analyze(url)                           # analyze() returns a list of hyperlink URLs in web page url 
      
    for link in links:                           
            try:
                webdir(link,depth,indent)
            except:
                pass


url = 'http://reed.cs.depaul.edu/lperkovic/test1.html'
webdir(url,2,4)

     http://reed.cs.depaul.edu/lperkovic/test1.html
      http://reed.cs.depaul.edu/lperkovic/test2.html
       http://reed.cs.depaul.edu/lperkovic/test4.html
      http://reed.cs.depaul.edu/lperkovic/test3.html
       http://reed.cs.depaul.edu/lperkovic/test4.html

# Question 8
Write SQL queries on the below database table that return:


City 	Country 	Season 	Temperature (C)	Rainfall (mm)
Mumbai 	India 	Winter 	24.8 	5.9 
Mumbai 	India 	Spring	28.4 	16.2 
Mumbai 	India 	Summer	27.9 	1549.4 
Mumbai 	India 	Fall	27.6 	346.0 
London 	United Kingdom 	Winter	4.2 	207.7 
London 	United Kingdom 	Spring	8.3 	169.6 
London 	United Kingdom 	Summer	15.7 	157.0 
London 	United Kingdom 	Fall	10.4 	218.5 
Cairo 	Egypt 	Winter	13.6 	16.5 
Cairo 	Egypt 	Spring	20.7 	6.5 
Cairo 	Egypt 	Summer	27.7 	0.1 
Cairo 	Egypt 	Fall	22.2 	4.5

In [17]:
import os
import mysql.connector
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from dotenv import load_dotenv
%matplotlib inline

In [18]:
load_dotenv()
user = os.getenv('DB_USER')
password = os.getenv('DB_PASS')

In [19]:
connection = mysql.connector.connect(host = "localhost",
                                     user = user,
                                     passwd = password,
                                     db = 'Demo')

In [20]:
connection

In [21]:
cursor = connection.cursor()
cursor.execute("SELECT * FROM weather_table") #created the table in mysql and fetching it from here
rows=cursor.fetchall()
for row in rows:
    print(row)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Winter', 4.2, 207.7)
('London', 'United Kingdom', 'Spring', 8.3, 169.6)
('London', 'United Kingdom', 'Summer', 15.7, 157.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Winter', 13.6, 16.5)
('Cairo', 'Egypt', 'Spring', 20.7, 6.5)
('Cairo', 'Egypt', 'Summer', 27.7, 0.1)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

a) All the temperature data.

In [23]:
cursor = connection.cursor()
cursor.execute("SELECT Temperature FROM weather_table")
for record in cursor: print(record[0], end=", ")
print()

24.8, 28.4, 27.9, 27.6, 4.2, 8.3, 15.7, 10.4, 13.6, 20.7, 27.7, 22.2,

b) All the cities, but without repetition.

In [24]:
cursor = connection.cursor()
cursor.execute("SELECT DISTINCT City FROM weather_table")
for record in cursor: print(record[0], end=" ")
cursor.fetchall()
print()

Mumbai London Cairo

c) All the records for India.

In [25]:
cursor = connection.cursor()
query = "SELECT * FROM weather_table WHERE Country='India'"
cursor.execute(query)
for record in cursor: print(record)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

d) All the Fall records.

In [26]:
cursor = connection.cursor()
query = "SELECT * FROM weather_table WHERE Season='Fall'"
cursor.execute(query)
for record in cursor: print("{}".format(record))
print()

('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

In [27]:
cursor = connection.cursor()
query = "SELECT City, Country, Season FROM weather_table WHERE Rainfall>200.0 and Rainfall<400.0"
cursor.execute(query)
for record in cursor: print(record)
print()

('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')

f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.

In [28]:
cursor = connection.cursor()
query = "SELECT City, Country FROM weather_table WHERE Temperature>20 ORDER BY Temperature ASC"
cursor.execute(query)
for record in cursor: print(record)
print()

('Cairo', 'Egypt')
('Cairo', 'Egypt')
('Mumbai', 'India')
('Mumbai', 'India')
('Cairo', 'Egypt')
('Mumbai', 'India')
('Mumbai', 'India')

g) The total annual rainfall for Cairo.

In [29]:
cursor = connection.cursor()
query = "SELECT SUM(Rainfall) FROM weather_table WHERE City = 'Cairo'"
cursor.execute(query)
for record in cursor: print(record[0])
print()

27.600000001490116

h) The total rainfall for each season.

In [30]:
cursor = connection.cursor()
query = "SELECT Season, SUM(Rainfall) FROM weather_table GROUP BY Season"
cursor.execute(query)
for record in cursor: print("Rainfall for {} is {}".format(record[0], record[1]))

Rainfall for Winter is 230.09999704360962
Rainfall for Spring is 192.30000686645508
Rainfall for Summer is 1706.5000244155526
Rainfall for Fall is 569.0

# Question 9
Suppose list words is defined as follows:

--- words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [31]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

Write list comprehension expressions that use list words and generate the following lists:

a)	['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [32]:
uppercase_list = [ word.upper() for word in words]
print(uppercase_list)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

b)	['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [33]:
lowercase_list = [ word.lower() for word in words]
print(lowercase_list)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

c)	[3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).

In [34]:
word_length = [ len(word) for word in words]
print(word_length)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

d)	[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)

In [35]:
upper_lower_length = [ [word.upper(),word.lower(), len(word)] for word in words]
print(upper_lower_length)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

e)	['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or more characters.)

In [36]:
char_4_list = [ word for word in words if (len(word)>=4)]
print(char_4_list)

['quick', 'brown', 'jumps', 'over', 'lazy']